<div class="list_item" id="<%= dom_id item %>">
 
<div class="listItem_thumb">
  
    <%= image_tag(item.images.first) %>
</div>

<div class="listItem_text">
   <h2>
      
        <%= link_to item.name, item %>
  </h2>
  

  <p>
     <%= item.description %>
  </p>

  <p>
    <strong>Starting price:</strong>
    <%= number_to_currency(item.starting_price, unit: "₹ " )%>
  </p>

  <p>
    <strong>Current bid:</strong>
    <%= number_to_currency(item.current_bid, unit: "₹ " ) %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= item.end_time %>
  </p>
</div>

</div>
