<!DOCTYPE html>
<html>
  <head>
    <title>Antiques</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="content_wrapper">
          <header>
      <div class="site_branding">
        <h1><%= link_to "AntiquePlaza", root_path %></h1>
      </div>
      <div class="site_navbar">
       <nav>
          <%= link_to "Items", items_path %>
          <%= link_to "Add Item", new_item_path %>
       </nav>
      </div>
      
    </header>
   
    
    <main>
       <div class="notices">
         <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
       </div>
      <%= yield %>
    </main>
    <footer>
      2023 - Copyrights Reserved @ AmulyaShahi 
    </footer>
    </div>
  </body>
</html>
